@{
    ViewBag.Title = "Home Page";
}
<style>




</style>


<div id="carLanding">
    <div id="carLandingTitle">
        <h1 >Welcome.</h1>
        <h2 class="welcomeText">
         Here you can view a range of electric cars displayed alongside  their prices and expected miles per charge.
        </h2>
        <h2 class="welcomeText">
            You can also view a range of car manufacturers alongside the contact details for their UK offices.
        </h2>
    </div>
</div>
